@font-face {
    font-family: AirbnbCerealApp;
    src: url('./SansPro/SourceSansPro-ExtraLight.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
    font-display: auto;
}

@font-face {
    font-family: AirbnbCerealApp;
    src: url('./SansPro/SourceSansPro-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
    font-display: auto;
}

@font-face {
    font-family: AirbnbCerealApp;
    src: url('./SansPro/SourceSansPro-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
    font-display: auto;
}

@font-face {
    font-family: AirbnbCerealApp;
    src: url('./SansPro/SourceSansPro-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
    font-display: auto;
}

@font-face {
    font-family: AirbnbCerealApp;
    src: url('./SansPro/SourceSansPro-Black.ttf') format('truetype');
    font-style: normal;
    font-weight: 800;
    font-display: auto;
}

@font-face {
    font-family: AirbnbCerealApp;
    src: url('./SansPro/SourceSansPro-Black.ttf') format('truetype');
    font-style: normal;
    font-weight: 900;
    font-display: auto;
}